Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

.pre-commit-config.yaml:

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        files: ^server/
      - id: ruff-format
        files: ^server/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^server/drawing_agent/
        additional_dependencies:
          - pydantic>=2.10.0
          - pydantic-settings>=2.6.0
          - fastapi>=0.115.0
          - pillow>=11.0.0
          - anthropic>=0.40.0
          - types-aiofiles
          - types-python-jose
          - boto3-stubs
          - alembic

  # JavaScript/TypeScript - Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --write .'
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (app/)
  - repo: local
    hooks:
      - id: eslint-app
        name: eslint (app)
        entry: bash -c 'cd app && pnpm lint'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-app
        name: typecheck (app)
        entry: bash -c 'cd app && pnpm typecheck'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (web/)
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && pnpm lint'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && pnpm typecheck'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (shared/)
  - repo: local
    hooks:
      - id: eslint-shared
        name: eslint (shared)
        entry: bash -c 'cd shared && pnpm lint'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

      - id: typecheck-shared
        name: typecheck (shared)
        entry: bash -c 'cd shared && pnpm typecheck'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

fix: Update share routes for new load_from_gallery return type
  server/code_monet/share/routes.py
Due: none

fix: Fix mypy errors in agent.py
  server/code_monet/agent.py
Due: none

feat: Add swappable drawing styles (plotter and paint) (#88)
  app/src/App.tsx
  app/src/components/ActionBar.tsx
  app/src/components/Canvas.tsx
  server/code_monet/agent.py
  server/code_monet/main.py
  server/code_monet/share/routes.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  shared/src/canvas/reducer.ts
  shared/src/index.ts
  shared/src/types.ts
  shared/src/utils/strokeSmoothing.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
  web/src/components/ActionBar.tsx
  web/src/components/Canvas.tsx
  web/src/styles.css
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: Release v1.19.0
  CHANGELOG.md
Due: prettier

chore: Release v1.19.0 (#89)
  CHANGELOG.md
Due: prettier

feat(app): add drawing style selector to StartPanel
  app/src/App.tsx
  app/src/components/StartPanel.tsx
Due: prettier, eslint-app, typecheck-app

feat(app): add drawing style selector to StartPanel (#90)
  app/src/App.tsx
  app/src/components/StartPanel.tsx
Due: prettier, eslint-app, typecheck-app

refactor(mobile): show Draw/Nudge only when agent is active
  app/src/components/ActionBar.tsx
Due: prettier, eslint-app, typecheck-app

refactor(mobile): simplify toolbar by moving style picker to new canvas modal
  app/src/App.tsx
  app/src/components/ActionBar.tsx
  app/src/components/NewCanvasModal.tsx
Due: prettier, eslint-app, typecheck-app

refactor(mobile): simplify toolbar by moving style picker to new canvas modal (#91)
  app/src/App.tsx
  app/src/components/ActionBar.tsx
  app/src/components/NewCanvasModal.tsx
Due: prettier, eslint-app, typecheck-app

fix(app): make style change atomic with new_canvas to prevent race condition
  app/src/App.tsx
  app/src/__tests__/reducer.test.ts
  app/src/components/Canvas.tsx
  app/src/components/NewCanvasModal.tsx
  app/src/components/StartPanel.tsx
  app/src/components/StylePicker.tsx
  app/src/components/index.ts
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/tests/test_user_handlers.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: Release v1.20.0 (#92)
  CHANGELOG.md
  app/src/App.tsx
  app/src/__tests__/reducer.test.ts
  app/src/components/Canvas.tsx
  app/src/components/NewCanvasModal.tsx
  app/src/components/StartPanel.tsx
  app/src/components/StylePicker.tsx
  app/src/components/index.ts
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/tests/test_user_handlers.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: Release v1.20.0
  CHANGELOG.md
Due: prettier

refactor(canvas): remove grid pattern from canvas
  app/src/components/Canvas.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

refactor(canvas): remove grid pattern from canvas (#93)
  app/src/components/Canvas.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix(shared): fix hasInProgressEvents to handle started+completed message pairs
  app/src/__tests__/reducer.test.ts
  shared/src/canvas/reducer.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix(paint): show correct color and width for in-progress strokes
  app/src/App.tsx
  app/src/components/Canvas.tsx
  server/code_monet/executor.py
  server/code_monet/types.py
  server/tests/test_pen_message.py
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

feat(canvas): add floating particles animation for idle state
  CHANGELOG.md
  app/src/__tests__/IdleParticles.test.ts
  app/src/components/Canvas.tsx
  app/src/components/IdleParticles.tsx
  web/src/components/Canvas.tsx
  web/src/components/IdleParticles.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

chore: update package-lock.json
  package-lock.json
Due: prettier

feat(agent): add image generation tools using Nano Banana (Google Gemini)
  server/code_monet/agent.py
  server/code_monet/config.py
  server/code_monet/tools.py
  server/pyproject.toml
  server/uv.lock
Due: none

feat(agent): enable filesystem and bash tools scoped to user workspace
  server/code_monet/agent.py
Due: none

fix: address code review feedback
  server/code_monet/tools.py
  server/code_monet/workspace_state.py
Due: none

docs: Rewrite README as technical portfolio showcase
  README.md
Due: prettier

refactor(types): consolidate WebSocket message types (18 → 14)
  CHANGELOG.md
  app/src/components/Canvas.tsx
  server/code_monet/executor.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  server/tests/test_executor.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  shared/src/websocket/index.ts
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

refactor(types): remove redundant ThinkingMessage
  CHANGELOG.md
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  shared/src/websocket/index.ts
Due: prettier, eslint-shared, typecheck-shared

docs: update event-streaming-architecture for message consolidation
  docs/event-streaming-architecture.md
Due: prettier

refactor(types): replace AgentStateMessage with PausedMessage
  app/src/__tests__/reducer.test.ts
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  shared/src/websocket/index.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

feat(canvas): add floating particles animation for idle state (#95)
  CHANGELOG.md
  README.md
  app/src/__tests__/IdleParticles.test.ts
  app/src/components/Canvas.tsx
  app/src/components/IdleParticles.tsx
  package-lock.json
  server/tests/test_interpolation.py
  web/src/components/Canvas.tsx
  web/src/components/IdleParticles.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

claude/add-image-generation-tool-Wllvw (#96)
  server/code_monet/agent.py
  server/code_monet/config.py
  server/code_monet/tools.py
  server/code_monet/workspace_state.py
  server/pyproject.toml
  server/uv.lock
Due: none

docs(changelog): add image generation tools and Gemini integration
  CHANGELOG.md
Due: prettier

fix(paint): show correct color and width for in-progress strokes
  CHANGELOG.md
  app/src/App.tsx
  app/src/components/Canvas.tsx
  shared/src/canvas/reducer.ts
  shared/src/services/StrokeRenderer.ts
  web/src/App.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: Release v1.21.0
  CHANGELOG.md
Due: prettier

fix: correct inaccuracies in README and fix Makefile module paths
  Makefile
  README.md
Due: prettier

fix: correct inaccuracies in README and fix Makefile module paths (#98)
  Makefile
  README.md
Due: prettier

docs: add tool events for generate_image and comprehensive tools documentation
  docs/agent-tools.md
  shared/src/types.ts
Due: prettier, eslint-shared, typecheck-shared

docs: add Agent Tools section to CLAUDE.md
  CLAUDE.md
Due: prettier

fix: add TOOL_ICONS and tests for generate_image and view_reference_image
  app/src/__tests__/types.test.ts
  app/src/components/MessageStream.tsx
Due: prettier, eslint-app, typecheck-app
