Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

.pre-commit-config.yaml:

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        files: ^server/
      - id: ruff-format
        files: ^server/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^server/drawing_agent/
        additional_dependencies:
          - pydantic>=2.10.0
          - pydantic-settings>=2.6.0
          - fastapi>=0.115.0
          - pillow>=11.0.0
          - anthropic>=0.40.0
          - types-aiofiles
          - types-python-jose
          - boto3-stubs
          - alembic

  # JavaScript/TypeScript - Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --write .'
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (app/)
  - repo: local
    hooks:
      - id: eslint-app
        name: eslint (app)
        entry: bash -c 'cd app && pnpm lint'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-app
        name: typecheck (app)
        entry: bash -c 'cd app && pnpm typecheck'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (web/)
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && pnpm lint'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && pnpm typecheck'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (shared/)
  - repo: local
    hooks:
      - id: eslint-shared
        name: eslint (shared)
        entry: bash -c 'cd shared && pnpm lint'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

      - id: typecheck-shared
        name: typecheck (shared)
        entry: bash -c 'cd shared && pnpm typecheck'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

fix: remove gallery count from action bar button (#106)
  app/src/components/ActionBar.tsx
Due: prettier, eslint-app, typecheck-app

docs: correct drawing architecture description in README (#107)
  README.md
Due: prettier

feat(telemetry): add token usage tracking for Claude API calls
  server/code_monet/agent.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  shared/src/types.ts
Due: prettier, eslint-shared, typecheck-shared

feat(cli): add /cost command for token usage analysis
  .claude/commands/cost.md
  scripts/cost.py
Due: prettier

feat(mobile): add thumbnail-based gallery view with server-side rendering (#105)
  CHANGELOG.md
  server/code_monet/cli.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
Due: prettier

docs: clarify branch strategy in CLAUDE.md
  CLAUDE.md
Due: prettier

chore: Release v1.22.0
  CHANGELOG.md
Due: prettier

fix: remove duplicate UUID migration file
  server/alembic/versions/20260117_1858_7372b4753296_change_user_id_to_uuid.py
Due: none

feat(app): word-by-word reveal for streaming thinking text
  app/src/components/LiveStatus.tsx
Due: prettier, eslint-app, typecheck-app

fix: Repair stroke animation gate and bionic reading display
  app/src/App.tsx
  app/src/components/LiveStatus.tsx
  docs/stroke-animation-flow.md
  shared/src/canvas/reducer.ts
  web/src/App.tsx
  web/src/components/StatusOverlay.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: Address code review feedback
  CHANGELOG.md
  app/src/components/LiveStatus.tsx
  shared/src/canvas/reducer.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

refactor: Extract progressive text display to shared hook
  app/src/components/LiveStatus.tsx
  shared/src/hooks/index.ts
  shared/src/hooks/useProgressiveText.ts
  web/src/components/StatusOverlay.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: Repair stroke animation gate and bionic reading display (#113)
  CHANGELOG.md
  app/src/App.tsx
  app/src/components/LiveStatus.tsx
  docs/stroke-animation-flow.md
  shared/src/hooks/index.ts
  shared/src/hooks/useProgressiveText.ts
  shared/src/index.ts
  shared/src/utils.ts
  web/src/App.tsx
  web/src/components/StatusOverlay.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: Address code review nits
  shared/src/hooks/useProgressiveText.ts
  shared/src/index.ts
  shared/src/utils.ts
  web/src/components/StatusOverlay.tsx
Due: prettier, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix(ci): Create data directory for alembic migration check
  .github/workflows/ci.yml
Due: none

fix(ci): Run alembic upgrade head before check
  .github/workflows/ci.yml
Due: none

docs: Document branch protection rules in CLAUDE.md
  CLAUDE.md
Due: prettier

docs: Emphasize always using PRs even with bypass permissions
  CLAUDE.md
Due: prettier

docs: Emphasize always using PRs even with bypass permissions (#114)
  CLAUDE.md
Due: prettier

ci: Add path filters to skip jobs when code doesn't change
  .github/workflows/ci.yml
Due: none

ci: Add path filters to skip jobs when code doesn't change (#115)
  .github/workflows/ci.yml
Due: none

docs: Update CLAUDE.md with CI path filters documentation (#116)
  CLAUDE.md
Due: prettier

docs: Update CLAUDE.md with CI path filters documentation
  CLAUDE.md
Due: prettier

fix(release): Deploy with tagged images instead of Watchtower (#117)
  .github/workflows/release.yml
  CLAUDE.md
Due: prettier

fix(release): Deploy with tagged images instead of Watchtower
  .github/workflows/release.yml
  CLAUDE.md
Due: prettier

refactor: remove Postgres/Grafana option, keep CloudWatch only
  docs/logging-system-design.md
  scripts/diagnose.py
Due: prettier

infra: add logrotate for application logs
  infrastructure/user_data.sh
Due: none

docs: design intentional logging system with CloudWatch integration
  .claude/commands/logs.md
  CLAUDE.md
  docs/logging-system-design.md
  scripts/diagnose.py
Due: prettier

feat: add Postgres + Grafana option for self-hosted logging
  docs/logging-system-design.md
  scripts/diagnose.py
Due: prettier

infra: add CloudWatch Logs for application logging
  docs/logging-system-design.md
  infrastructure/cloudwatch_logs.tf
  infrastructure/user_data.sh
Due: prettier

infra: add CloudWatch logging for all Docker containers
  deploy/docker-compose.prod.yml
  infrastructure/cloudwatch_logs.tf
Due: none

fix: address code review issues for logging system
  CHANGELOG.md
  deploy/docker-compose.prod.yml
  infrastructure/user_data.sh
Due: prettier

fix(app): Fix mobile gallery grid displaying only one item
  app/src/components/GalleryModal.tsx
Due: prettier, eslint-app, typecheck-app

chore: Release v1.23.0 (#119)
  CHANGELOG.md
Due: prettier

chore: Release v1.23.0
  CHANGELOG.md
Due: prettier
