Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

.pre-commit-config.yaml:

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        files: ^server/
      - id: ruff-format
        files: ^server/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^server/drawing_agent/
        additional_dependencies:
          - pydantic>=2.10.0
          - pydantic-settings>=2.6.0
          - fastapi>=0.115.0
          - pillow>=11.0.0
          - anthropic>=0.40.0
          - types-aiofiles
          - types-python-jose
          - boto3-stubs
          - alembic

  # JavaScript/TypeScript - Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --write .'
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (app/)
  - repo: local
    hooks:
      - id: eslint-app
        name: eslint (app)
        entry: bash -c 'cd app && pnpm lint'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-app
        name: typecheck (app)
        entry: bash -c 'cd app && pnpm typecheck'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (web/)
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && pnpm lint'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && pnpm typecheck'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (shared/)
  - repo: local
    hooks:
      - id: eslint-shared
        name: eslint (shared)
        entry: bash -c 'cd shared && pnpm lint'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

      - id: typecheck-shared
        name: typecheck (shared)
        entry: bash -c 'cd shared && pnpm typecheck'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

feat: Route magic links based on source platform
  app/src/context/AuthContext.tsx
  server/alembic/versions/20260115_0006_006_add_platform_to_magic_link_tokens.py
  server/drawing_agent/auth/routes.py
  server/drawing_agent/auth/schemas.py
  server/drawing_agent/db/models.py
  server/drawing_agent/db/repository.py
  web/src/context/AuthContext.test.tsx
  web/src/context/AuthContext.tsx
  web/src/main.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix: Address code review feedback for Umami analytics
  CHANGELOG.md
Due: prettier

feat: Add ADMIN_IP templating for nginx analytics allowlist
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
Due: none

refactor: Move ADMIN_IP to GitHub secret instead of Terraform/SSM
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
Due: none

feat: Route magic links based on source platform (#68)
  app/src/context/AuthContext.tsx
  server/alembic/versions/20260115_0006_006_add_platform_to_magic_link_tokens.py
  server/drawing_agent/auth/routes.py
  server/drawing_agent/auth/schemas.py
  server/drawing_agent/db/models.py
  server/drawing_agent/db/repository.py
  web/src/context/AuthContext.test.tsx
  web/src/context/AuthContext.tsx
  web/src/main.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

style: Apply homepage design system across web application (#67)
  web/src/components/AuthScreen.css
  web/src/components/DebugPanel.tsx
  web/src/components/MessageStream.tsx
  web/src/styles.css
Due: prettier, eslint-web, typecheck-web

claude/add-analytics-tracking-aygom (#69)
  CHANGELOG.md
Due: prettier

chore: Release v1.14.1
  CHANGELOG.md
  deploy/start-services.sh
Due: prettier

chore: Release v1.14.1 (#70)
  CHANGELOG.md
  deploy/start-services.sh
Due: prettier

fix: Umami BASE_PATH for subpath routing
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
Due: none

fix: Nginx sub_filter for Umami subpath routing
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
Due: none

fix: Umami on dedicated port 3001 with IP restriction
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
Due: none

infra: Add Umami analytics port and SSM parameters
  infrastructure/ec2.tf
  infrastructure/ssm.tf
Due: none

feat(web): Move bionic reading to dedicated strip, make thoughts collapsible
  web/src/App.tsx
  web/src/components/MessageStream.tsx
  web/src/styles.css
Due: prettier, eslint-web, typecheck-web

feat(app): Move bionic reading to dedicated strip, make thoughts collapsible
  app/src/App.tsx
  app/src/components/MessageStream.tsx
  app/src/components/StatusOverlay.tsx
Due: prettier, eslint-app, typecheck-app

docs: Add changelog entry for bionic reading layout changes
  CHANGELOG.md
Due: prettier

feat: Move bionic reading to dedicated strip, make thoughts collapsible (#71)
  CHANGELOG.md
  app/src/App.tsx
  app/src/components/MessageStream.tsx
  app/src/components/StatusOverlay.tsx
  web/src/App.tsx
  web/src/components/MessageStream.tsx
  web/src/styles.css
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix: Only mark stroke batch as fetched after successful fetch
  .claude/commands/release.md
  .claude/commands/screenshot.md
  CLAUDE.md
  app/metro.config.js
  app/src/components/MessageStream.tsx
  app/src/components/NudgeModal.tsx
  app/src/components/StatusPill.tsx
  shared/src/hooks/useStrokeAnimation.ts
  web/index.html
  web/src/components/AuthScreen.css
  web/src/components/homepage/LiveCanvas.tsx
  web/src/homepage.css
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

refactor: Extract StrokeRenderer class for testability
  app/src/__tests__/StrokeRenderer.test.ts
  package-lock.json
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/index.ts
  shared/src/services/StrokeRenderer.ts
  shared/src/services/index.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

refactor: Extract StrokeRenderer class for testability (#72)
  CHANGELOG.md
  app/src/__tests__/StrokeRenderer.test.ts
  package-lock.json
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/index.ts
  shared/src/services/StrokeRenderer.ts
  shared/src/services/index.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix: Add timeout cleanup to StrokeRenderer.stop()
  CHANGELOG.md
  shared/src/services/StrokeRenderer.ts
Due: prettier, eslint-shared, typecheck-shared

Slow down thought chunk display for readability
  app/src/components/MessageStream.tsx
  package-lock.json
Due: prettier, eslint-app, typecheck-app

Coordinate thought display with drawing timing
  app/src/App.tsx
  app/src/components/MessageStream.tsx
  shared/src/hooks/useStrokeAnimation.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

Remove speed-up logic, keep only drawing gate for thoughts
  app/src/App.tsx
  app/src/components/MessageStream.tsx
Due: prettier, eslint-app, typecheck-app

feat: Apply web homepage styling to mobile app
  app/src/components/SplashScreen.tsx
  app/src/theme/colors.ts
Due: prettier, eslint-app, typecheck-app

Simplify drawing gate: wait for live message to finish
  app/src/App.tsx
  app/src/components/MessageStream.tsx
Due: prettier, eslint-app, typecheck-app

Add render delay so tool call messages display before drawing
  shared/src/hooks/useStrokeAnimation.ts
Due: prettier, eslint-shared, typecheck-shared

docs: Add changelog entry for styling changes
  CHANGELOG.md
  app/src/theme/index.ts
Due: prettier, eslint-app, typecheck-app

Add optional direction when starting new canvas (#73)
  CHANGELOG.md
  app/src/components/SplashScreen.tsx
  app/src/theme/colors.ts
  app/src/theme/index.ts
Due: prettier, eslint-app, typecheck-app

Derive agent status from messages instead of storing separately
  app/src/App.tsx
  app/src/components/index.ts
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

Fix code review issues: stale closure, orphaned files, timeout cleanup
  app/src/components/MessageStream.tsx
  app/src/components/StatusOverlay.tsx
  app/src/components/StatusPill.tsx
  shared/src/hooks/useStrokeAnimation.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

Slow down thought chunk display for readability (#74)
  app/src/App.tsx
  app/src/components/MessageStream.tsx
  app/src/components/StatusOverlay.tsx
  app/src/components/StatusPill.tsx
  app/src/components/index.ts
  package-lock.json
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: Release v1.15.0
  CHANGELOG.md
Due: prettier

feat: Split message display into LiveStatus and history areas
  app/src/App.tsx
  app/src/__tests__/LiveStatus.test.ts
  app/src/__tests__/MessageStream.test.ts
  app/src/components/LiveStatus.tsx
  app/src/components/MessageStream.tsx
  app/src/components/index.ts
Due: prettier, eslint-app, typecheck-app

fix: Address code review feedback
  CHANGELOG.md
  app/src/__tests__/LiveStatus.test.ts
Due: prettier, eslint-app, typecheck-app

fix: Address code review nits
  app/src/App.tsx
  app/src/components/LiveStatus.tsx
Due: prettier, eslint-app, typecheck-app

feat: Split message display into LiveStatus and history areas (#75)
  CHANGELOG.md
  app/src/App.tsx
  app/src/__tests__/LiveStatus.test.ts
  app/src/__tests__/MessageStream.test.ts
  app/src/components/LiveStatus.tsx
  app/src/components/MessageStream.tsx
  app/src/components/index.ts
Due: prettier, eslint-app, typecheck-app

feat: Extend login session durations
  CLAUDE.md
  server/drawing_agent/config.py
Due: prettier

fix: Reduce access token to 1 day (was 7 days)
  CLAUDE.md
  server/drawing_agent/config.py
Due: prettier

docs: Add changelog entry for extended login sessions
  CHANGELOG.md
Due: prettier
