Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-shared, eslint-app, eslint-web

eslint-shared:
  name: ESLint (shared)
  entry: bash -c 'cd shared && npx eslint --fix $(echo "$@" | sed "s|shared/||g")' --
  language: system
  pass_filenames: true

eslint-app:
  name: ESLint (app)
  entry: bash -c 'cd app && npx eslint --fix $(echo "$@" | sed "s|app/||g")' --
  language: system
  pass_filenames: true

eslint-web:
  name: ESLint (web)
  entry: bash -c 'cd web && npx eslint --fix $(echo "$@" | sed "s|web/||g")' --
  language: system
  pass_filenames: true

fix: add optional flag and update comment in inject-auth helper
  app/e2e/helpers/inject-auth.yaml
Due: none

fix(e2e): update tests for HomePanel redesign (#148)
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/agent-draw.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/e2e/helpers/inject-auth.yaml
  app/src/components/HomePanel.tsx
Due: eslint-app

refactor(gallery): remove _index.json, scan piece files directly
  server/code_monet/main.py
  server/code_monet/workspace_state.py
Due: none

fix: use async I/O in public gallery endpoints, update changelog
  CHANGELOG.md
  server/code_monet/main.py
Due: none

fix(lint): use builtin TimeoutError instead of asyncio.TimeoutError
  server/code_monet/orchestrator.py
Due: none

style: format with ruff
  server/code_monet/main.py
  server/tests/test_agent.py
Due: none

chore: add pre-commit hooks for ruff lint + format
  scripts/db_utils.py
  scripts/diagnose.py
  scripts/generate_icon.py
  scripts/remote.py
  scripts/ws-client.py
  server/.pre-commit-config.yaml
  server/code_monet/main.py
Due: none

chore: move pre-commit to repo root, fix import sorting
  .pre-commit-config.yaml
  server/.pre-commit-config.yaml
  server/alembic/env.py
  server/alembic/versions/20260103_0001_001_initial_schema.py
  server/alembic/versions/20260103_0002_002_drop_workspace_tables.py
  server/alembic/versions/20260104_0003_003_add_magic_link_tokens.py
  server/alembic/versions/20260104_0004_004_add_code_to_magic_link_tokens.py
  server/alembic/versions/20260105_0005_005_add_canvas_shares.py
  server/alembic/versions/20260115_0006_006_add_platform_to_magic_link_tokens.py
  server/alembic/versions/20260117_0007_007_change_user_id_to_uuid.py
  server/alembic/versions/20260118_0008_008_add_gallery_public_to_users.py
Due: none

fix: sort imports to match CI ruff config
  .pre-commit-config.yaml
  server/alembic/env.py
  server/alembic/versions/20260103_0001_001_initial_schema.py
  server/alembic/versions/20260103_0002_002_drop_workspace_tables.py
  server/alembic/versions/20260104_0003_003_add_magic_link_tokens.py
  server/alembic/versions/20260104_0004_004_add_code_to_magic_link_tokens.py
  server/alembic/versions/20260105_0005_005_add_canvas_shares.py
  server/alembic/versions/20260115_0006_006_add_platform_to_magic_link_tokens.py
  server/alembic/versions/20260117_0007_007_change_user_id_to_uuid.py
  server/alembic/versions/20260118_0008_008_add_gallery_public_to_users.py
  server/code_monet/main.py
Due: none

fix(pre-commit): use pass_filenames=false to match CI ruff behavior
  .pre-commit-config.yaml
Due: none

refactor(gallery): remove _index.json, scan piece files directly (#149)
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/db_utils.py
  scripts/diagnose.py
  scripts/generate_icon.py
  scripts/remote.py
  scripts/ws-client.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/workspace_state.py
  server/tests/test_agent.py
Due: none

chore: Release v1.29.1
  CHANGELOG.md
Due: none

chore: Release v1.29.1 (#150)
  CHANGELOG.md
Due: none

fix(app): prevent stroke animation on home panel, pause on background
  app/src/App.tsx
  server/code_monet/main.py
Due: eslint-app

fix: Address code review feedback
  CHANGELOG.md
  app/src/App.tsx
Due: eslint-app

fix: Destructure setPaused to satisfy exhaustive-deps rule
  app/src/App.tsx
Due: eslint-app

fix(app): prevent stroke animation on home panel, pause on background (#151)
  CHANGELOG.md
  app/src/App.tsx
  server/code_monet/main.py
Due: eslint-app

feat(infra): automate SSL cert bootstrap on EC2 instance creation
  .github/workflows/release.yml
  infrastructure/.gitignore
  infrastructure/ec2.tf
  infrastructure/local_dev.tf
  infrastructure/main.tf
  infrastructure/monitoring.tf
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
  scripts/remote.py
Due: none

feat(infra): automate SSL cert bootstrap on EC2 instance creation (#152)
  .github/workflows/release.yml
  infrastructure/.gitignore
  infrastructure/ec2.tf
  infrastructure/local_dev.tf
  infrastructure/main.tf
  infrastructure/monitoring.tf
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
  scripts/remote.py
Due: none

feat(web): add Open Graph image for social sharing
  scripts/generate_og_image.py
  web/index.html
  web/public/og-image.png
  web/src/routes.tsx
Due: eslint-web

fix: address code review feedback
  CHANGELOG.md
  scripts/generate_og_image.py
  web/index.html
  web/src/routes.tsx
Due: eslint-web

fix(infra): move umami-db to EBS data volume
  deploy/docker-compose.prod.yml
Due: none

feat(web): add Open Graph image for social sharing (#153)
  CHANGELOG.md
  deploy/docker-compose.prod.yml
  scripts/generate_og_image.py
  web/index.html
  web/public/og-image.png
  web/src/routes.tsx
Due: eslint-web

chore: Release v1.30.0
  CHANGELOG.md
Due: none

refactor(agent): modularize into focused submodules
  server/code_monet/agent.py
  server/code_monet/agent/__init__.py
  server/code_monet/agent/callbacks.py
  server/code_monet/agent/processor.py
  server/code_monet/agent/prompts.py
  server/code_monet/agent/renderer.py
  server/tests/agent/__init__.py
  server/tests/agent/test_agent.py
  server/tests/agent/test_callbacks.py
  server/tests/agent/test_processor.py
  server/tests/agent/test_prompts.py
  server/tests/agent/test_renderer.py
Due: none

fix: Address code review feedback
  server/code_monet/agent/processor.py
  server/tests/agent/test_agent.py
Due: none

refactor(agent): modularize into focused submodules (#154)
  server/code_monet/agent.py
  server/code_monet/agent/__init__.py
  server/code_monet/agent/callbacks.py
  server/code_monet/agent/processor.py
  server/code_monet/agent/prompts.py
  server/code_monet/agent/renderer.py
  server/tests/agent/__init__.py
  server/tests/agent/test_agent.py
  server/tests/agent/test_callbacks.py
  server/tests/agent/test_processor.py
  server/tests/agent/test_prompts.py
  server/tests/agent/test_renderer.py
Due: none

refactor(tools): modularize tools.py into focused package
  server/code_monet/tools.py
  server/code_monet/tools/__init__.py
  server/code_monet/tools/callbacks.py
  server/code_monet/tools/drawing.py
  server/code_monet/tools/image_generation.py
  server/code_monet/tools/naming.py
  server/code_monet/tools/path_parsing.py
  server/code_monet/tools/python_sandbox.py
  server/code_monet/tools/signature.py
  server/code_monet/tools/svg_generation.py
Due: none

fix: Address code review feedback
  CHANGELOG.md
  server/code_monet/tools/callbacks.py
  server/code_monet/tools/drawing.py
Due: none

fix(agent): remove invalid 'done' kwarg from TurnResult
  server/code_monet/agent/processor.py
Due: none

refactor(tools): modularize tools.py into focused package (#155)
  CHANGELOG.md
  server/code_monet/agent/processor.py
  server/code_monet/tools.py
  server/code_monet/tools/__init__.py
  server/code_monet/tools/callbacks.py
  server/code_monet/tools/drawing.py
  server/code_monet/tools/image_generation.py
  server/code_monet/tools/naming.py
  server/code_monet/tools/path_parsing.py
  server/code_monet/tools/python_sandbox.py
  server/code_monet/tools/signature.py
  server/code_monet/tools/svg_generation.py
Due: none

refactor(routes): modularize main.py into focused route modules
  server/code_monet/main.py
  server/code_monet/routes/__init__.py
  server/code_monet/routes/apple.py
  server/code_monet/routes/auth_dev.py
  server/code_monet/routes/canvas.py
  server/code_monet/routes/debug.py
  server/code_monet/routes/gallery.py
  server/code_monet/routes/health.py
  server/code_monet/routes/public_gallery.py
  server/code_monet/routes/seo.py
  server/code_monet/routes/strokes.py
  server/code_monet/routes/tracing.py
  server/tests/test_public_gallery.py
  server/tests/test_traces.py
Due: none

docs: add changelog entry for routes refactor
  CHANGELOG.md
Due: none

refactor(routes): modularize main.py into focused route modules (#156)
  CHANGELOG.md
  server/code_monet/main.py
  server/code_monet/routes/__init__.py
  server/code_monet/routes/apple.py
  server/code_monet/routes/auth_dev.py
  server/code_monet/routes/canvas.py
  server/code_monet/routes/debug.py
  server/code_monet/routes/gallery.py
  server/code_monet/routes/health.py
  server/code_monet/routes/public_gallery.py
  server/code_monet/routes/seo.py
  server/code_monet/routes/strokes.py
  server/code_monet/routes/tracing.py
  server/tests/test_public_gallery.py
  server/tests/test_traces.py
Due: none

refactor(types): modularize types.py into focused package
  server/code_monet/types.py
  server/code_monet/types/__init__.py
  server/code_monet/types/brushes.py
  server/code_monet/types/geometry.py
  server/code_monet/types/messages.py
  server/code_monet/types/paths.py
  server/code_monet/types/state.py
  server/code_monet/types/styles.py
Due: none

docs: add changelog entry for types refactor
  CHANGELOG.md
Due: none

refactor(types): modularize types.py into focused package (#157)
  CHANGELOG.md
  server/code_monet/types.py
  server/code_monet/types/__init__.py
  server/code_monet/types/brushes.py
  server/code_monet/types/geometry.py
  server/code_monet/types/messages.py
  server/code_monet/types/paths.py
  server/code_monet/types/state.py
  server/code_monet/types/styles.py
Due: none

refactor(workspace): modularize workspace_state.py into focused package
  CHANGELOG.md
  server/code_monet/agent/__init__.py
  server/code_monet/agent/callbacks.py
  server/code_monet/cli.py
  server/code_monet/registry.py
  server/code_monet/routes/canvas.py
  server/code_monet/share/routes.py
  server/code_monet/workspace/__init__.py
  server/code_monet/workspace/gallery.py
  server/code_monet/workspace/persistence.py
  server/code_monet/workspace/strokes.py
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
  server/tests/test_stroke_queue.py
  server/tests/test_workspace_limits.py
Due: none

refactor(workspace): modularize workspace_state.py into focused package (#158)
  CHANGELOG.md
  server/code_monet/agent/__init__.py
  server/code_monet/agent/callbacks.py
  server/code_monet/cli.py
  server/code_monet/registry.py
  server/code_monet/routes/canvas.py
  server/code_monet/share/routes.py
  server/code_monet/workspace/__init__.py
  server/code_monet/workspace/gallery.py
  server/code_monet/workspace/persistence.py
  server/code_monet/workspace/strokes.py
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
  server/tests/test_stroke_queue.py
  server/tests/test_workspace_limits.py
Due: none

fix(gallery): render strokes with actual colors and proper path types
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/LiveCanvas.tsx
  web/src/components/homepage/types.ts
  web/src/components/homepage/utils.ts
  web/src/pages/GalleryPiecePage.tsx
Due: eslint-web

Path conditions:
  eslint-shared: any of: ^shared/src/.*\.(ts|tsx)$
  eslint-app: any of: ^app/src/.*\.(ts|tsx)$
  eslint-web: any of: ^web/src/.*\.(ts|tsx)$
