Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

.pre-commit-config.yaml:

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        files: ^server/
      - id: ruff-format
        files: ^server/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^server/drawing_agent/
        additional_dependencies:
          - pydantic>=2.10.0
          - pydantic-settings>=2.6.0
          - fastapi>=0.115.0
          - pillow>=11.0.0
          - anthropic>=0.40.0
          - types-aiofiles
          - types-python-jose
          - boto3-stubs
          - alembic

  # JavaScript/TypeScript - Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --write .'
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (app/)
  - repo: local
    hooks:
      - id: eslint-app
        name: eslint (app)
        entry: bash -c 'cd app && pnpm lint'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-app
        name: typecheck (app)
        entry: bash -c 'cd app && pnpm typecheck'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (web/)
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && pnpm lint'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && pnpm typecheck'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (shared/)
  - repo: local
    hooks:
      - id: eslint-shared
        name: eslint (shared)
        entry: bash -c 'cd shared && pnpm lint'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

      - id: typecheck-shared
        name: typecheck (shared)
        entry: bash -c 'cd shared && pnpm typecheck'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

feat: Add version meta tag to index.html (#56)
  web/vite.config.ts
Due: prettier, eslint-web, typecheck-web

feat: Add version meta tag to index.html
  web/vite.config.ts
Due: prettier, eslint-web, typecheck-web

chore: Release v1.13.3 (#57)
  CHANGELOG.md
Due: prettier

chore: Release v1.13.3
  CHANGELOG.md
Due: prettier

fix: Prevent mobile canvas resize when thought stream text changes
  web/src/homepage.css
Due: prettier

feat(web): Redesign homepage with Analog Atelier aesthetic
  web/src/components/Homepage.tsx
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/LiveCanvas.tsx
  web/src/components/homepage/index.ts
  web/src/components/homepage/types.ts
  web/src/homepage.css
Due: prettier, eslint-web, typecheck-web

chore: Update pnpm lockfile
  pnpm-lock.yaml
Due: none

feat(web): Redesign homepage with Analog Atelier aesthetic (#59)
  pnpm-lock.yaml
  web/src/components/Homepage.tsx
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/LiveCanvas.tsx
  web/src/components/homepage/index.ts
  web/src/components/homepage/types.ts
  web/src/homepage.css
Due: prettier, eslint-web, typecheck-web

feat(ci): Add comprehensive PR validation with tests for all packages
  .github/workflows/ci.yml
  app/package.json
Due: prettier

chore: Update pnpm-lock.yaml formatting
  pnpm-lock.yaml
Due: none

fix: Resolve dev environment configuration conflicts
  .claude/settings.json
  app/.npmrc
  app/package.json
  package.json
  pnpm-lock.yaml
  scripts/dev-web.sh
  web/package-lock.json
Due: prettier

fix: Address code review feedback
  .claude/settings.json
  app/package-lock.json
  package-lock.json
Due: prettier

docs: Update CLAUDE.md with pnpm workspace guidelines
  CLAUDE.md
Due: prettier

fix: Resolve dev environment configuration conflicts (#60)
  .claude/settings.json
  CLAUDE.md
  app/.npmrc
  app/package-lock.json
  app/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/dev-web.sh
  web/package-lock.json
Due: prettier

chore: Switch from pnpm to npm workspaces
  .claude/commands/screenshot.md
  .claude/settings.json
  .gitignore
  .npmrc
  CLAUDE.md
  app/metro.config.js
  app/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/CLAUDE.md
  shared/package.json
  web/package.json
Due: prettier

fix: Update Makefile and docs for npm
  .claude/commands/setup-worktree.md
  .claude/commands/worktree.md
  Makefile
  README.md
Due: prettier

chore: Switch from pnpm to npm workspaces (#61)
  .claude/commands/screenshot.md
  .claude/commands/setup-worktree.md
  .claude/commands/worktree.md
  .claude/settings.json
  .gitignore
  .npmrc
  CLAUDE.md
  Makefile
  README.md
  app/metro.config.js
  app/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/CLAUDE.md
  shared/package.json
  web/package.json
Due: prettier

chore: Release v1.13.4
  CHANGELOG.md
Due: prettier

chore: Release v1.13.4 (#62)
  CHANGELOG.md
Due: prettier

feat: Add Maestro E2E tests for iOS happy paths
  .claude/commands/release.md
  CLAUDE.md
  Makefile
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/auth.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth.yaml
  app/package.json
  app/src/components/ActionBar.tsx
  app/src/components/Canvas.tsx
  app/src/components/NudgeModal.tsx
  app/src/components/StartPanel.tsx
  app/src/components/StatusPill.tsx
  app/src/screens/AuthScreen.tsx
  scripts/e2e.sh
Due: prettier, eslint-app, typecheck-app

feat: Add Maestro E2E tests for iOS happy paths (#63)
  .claude/commands/release.md
  CLAUDE.md
  Makefile
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/auth.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth.yaml
  app/package.json
  app/src/components/ActionBar.tsx
  app/src/components/Canvas.tsx
  app/src/components/NudgeModal.tsx
  app/src/components/StartPanel.tsx
  app/src/components/StatusPill.tsx
  app/src/screens/AuthScreen.tsx
  scripts/e2e.sh
Due: prettier, eslint-app, typecheck-app

chore: Release v1.14.0
  CHANGELOG.md
Due: prettier

chore: Release v1.14.0 (#64)
  CHANGELOG.md
Due: prettier

fix(ci): Switch workflows from pnpm to npm workspaces
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: Add Umami analytics for web traffic tracking
  .github/workflows/release.yml
  CLAUDE.md
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
  web/index.html
Due: prettier

fix: Address code review feedback for Umami analytics
  CHANGELOG.md
  deploy/docker-compose.prod.yml
  web/index.html
Due: prettier

feat: Add IP allowlist for analytics dashboard
  deploy/nginx.conf
Due: none

feat: Add ADMIN_IP templating for nginx analytics allowlist
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
Due: none

refactor: Move ADMIN_IP to GitHub secret instead of Terraform/SSM
  .github/workflows/release.yml
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
Due: none

fix(ci): Update testflight workflow to use npm workspaces
  .github/workflows/testflight.yml
Due: none

fix: Use real auth token instead of dev token in web app
  web/src/App.tsx
  web/src/hooks/useDebug.ts
  web/src/hooks/useWebSocket.ts
Due: prettier, eslint-web, typecheck-web

claude/implement-real-auth-e4GKg (#65)
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
  web/index.html
  web/src/App.tsx
  web/src/hooks/useDebug.ts
  web/src/hooks/useWebSocket.ts
Due: prettier, eslint-web, typecheck-web

fix: Address code review feedback for Umami analytics
  CHANGELOG.md
Due: prettier

style: Apply homepage design system across web application
  web/src/components/AuthScreen.css
  web/src/components/DebugPanel.tsx
  web/src/components/MessageStream.tsx
  web/src/styles.css
Due: prettier, eslint-web, typecheck-web

refactor: Move ADMIN_IP to GitHub secret instead of Terraform/SSM
  infrastructure/ssm.tf
  infrastructure/user_data.sh
  infrastructure/variables.tf
Due: none

feat: Route magic links based on source platform
  app/src/context/AuthContext.tsx
  server/alembic/versions/20260115_0006_006_add_platform_to_magic_link_tokens.py
  server/drawing_agent/auth/routes.py
  server/drawing_agent/auth/schemas.py
  server/drawing_agent/db/models.py
  server/drawing_agent/db/repository.py
  web/src/context/AuthContext.test.tsx
  web/src/context/AuthContext.tsx
  web/src/main.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix(ci): Use --extra dev for uv sync to install dev dependencies
  .github/workflows/ci.yml
Due: none

fix: Add type parameters to dict types in cli.py
  server/drawing_agent/cli.py
Due: none
