Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

prettier:
  name: prettier
  entry: bash -c 'npx prettier --write .'
  language: system
  pass_filenames: false

eslint-app:
  name: eslint (app)
  entry: bash -c 'cd app && pnpm lint'
  language: system
  pass_filenames: false

typecheck-app:
  name: typecheck (app)
  entry: bash -c 'cd app && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && pnpm lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-shared:
  name: eslint (shared)
  entry: bash -c 'cd shared && pnpm lint'
  language: system
  pass_filenames: false

typecheck-shared:
  name: typecheck (shared)
  entry: bash -c 'cd shared && pnpm typecheck'
  language: system
  pass_filenames: false

feat: Extend login session durations (#76)
  CHANGELOG.md
  CLAUDE.md
  server/drawing_agent/config.py
Due: prettier

fix: Add /api prefix to production API URL for mobile app
  app/src/config.ts
Due: prettier, eslint-app, typecheck-app

fix: Show thinking status immediately when server reports thinking
  shared/src/canvas/reducer.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-shared, typecheck-shared

fix: Update TestFlight workflow to use /api prefix for API URL
  .github/workflows/testflight.yml
Due: none

fix: Move LiveStatus above canvas in mobile app
  app/src/App.tsx
Due: prettier, eslint-app, typecheck-app

fix: Add /api prefix to production API URL for mobile app (#77)
  .github/workflows/testflight.yml
  app/src/config.ts
Due: prettier, eslint-app, typecheck-app

docs: Add changelog entries for thoughts display fixes
  CHANGELOG.md
Due: prettier

fix: Show thinking status immediately when server reports thinking (#78)
  CHANGELOG.md
  app/src/App.tsx
  shared/src/canvas/reducer.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

chore: Release v1.17.0
  CHANGELOG.md
Due: prettier

chore: Release v1.17.0 (#79)
  CHANGELOG.md
Due: prettier

feat: Add E2E agent drawing test with dev auto-auth
  CHANGELOG.md
  app/e2e/flows/agent-draw.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/src/components/LiveStatus.tsx
  app/src/components/NewCanvasModal.tsx
  app/src/components/NudgeModal.tsx
  app/src/components/StartPanel.tsx
  app/src/context/AuthContext.tsx
  scripts/e2e.sh
  server/drawing_agent/main.py
  server/drawing_agent/orchestrator.py
  server/drawing_agent/user_handlers.py
  server/drawing_agent/workspace_state.py
Due: prettier, eslint-app, typecheck-app

feat: Add E2E agent drawing test with dev auto-auth (#80)
  CHANGELOG.md
  app/e2e/flows/agent-draw.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/src/components/LiveStatus.tsx
  app/src/components/NewCanvasModal.tsx
  app/src/components/NudgeModal.tsx
  app/src/components/StartPanel.tsx
  app/src/context/AuthContext.tsx
  scripts/e2e.sh
  server/drawing_agent/main.py
  server/drawing_agent/orchestrator.py
  server/drawing_agent/user_handlers.py
  server/drawing_agent/workspace_state.py
Due: prettier, eslint-app, typecheck-app

fix(ci): Update workflow to use code_monet module name
  .github/workflows/ci.yml
Due: none

fix: Proxy Umami analytics instead of redirecting
  deploy/nginx.conf
Due: none

fix: Proxy Umami analytics instead of redirecting (#81)
  deploy/nginx.conf
Due: none

fix: Add BASE_PATH to Umami and remove port 3001
  deploy/docker-compose.prod.yml
Due: none

fix: Proxy /_next/ to Umami for dashboard assets
  deploy/nginx.conf
Due: none

feat: Move Umami analytics to dedicated subdomain
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
  infrastructure/outputs.tf
  infrastructure/route53.tf
  scripts/remote.py
Due: none

feat: Add swappable drawing styles (plotter and paint)
  app/src/components/Canvas.tsx
  server/code_monet/agent.py
  server/code_monet/main.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: Update Umami tracking script to use analytics subdomain
  web/index.html
Due: none

chore: Release v1.18.0 (#82)
  CHANGELOG.md
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/agent-draw.yaml
  app/e2e/flows/auth.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/e2e/helpers/inject-auth.yaml
  app/src/App.tsx
  app/src/components/LiveStatus.tsx
  web/index.html
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

chore: Release v1.18.0
  CHANGELOG.md
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/agent-draw.yaml
  app/e2e/flows/auth.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/e2e/helpers/inject-auth.yaml
  app/src/App.tsx
  app/src/components/LiveStatus.tsx
  web/index.html
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix: Correct SSM environment variable name (CODE_MONET_ENV)
  CHANGELOG.md
  deploy/docker-compose.prod.yml
Due: prettier

ci: Upgrade TestFlight workflow to macOS 26 with Xcode 26
  .github/workflows/testflight.yml
Due: none

chore: Release v1.18.2
  CHANGELOG.md
Due: prettier

fix: Update Jest moduleNameMapper to @code-monet/shared
  app/jest.config.js
Due: prettier

feat(web): add robots.txt for crawler control
  web/public/robots.txt
Due: none

feat(web): add robots.txt for crawler control (#86)
  web/public/robots.txt
Due: none

feat: Persist drawing style with canvas in gallery
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-shared, typecheck-shared

feat: Add UI to toggle drawing style (plotter/paint)
  app/src/App.tsx
  app/src/components/ActionBar.tsx
  web/src/App.tsx
  web/src/components/ActionBar.tsx
  web/src/styles.css
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

fix(agent): improve piece completion and status overlay UX
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  web/src/components/StatusOverlay.tsx
  web/src/styles.css
Due: prettier, eslint-web, typecheck-web

feat: Add brush stroke rendering for paint mode
  app/src/components/Canvas.tsx
  server/code_monet/types.py
  shared/src/index.ts
  shared/src/types.ts
  shared/src/utils/strokeSmoothing.ts
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix(reducer): check code_execution before pendingStrokes in status derivation
  shared/src/canvas/reducer.ts
Due: prettier, eslint-shared, typecheck-shared

refactor(shared): general hasInProgressEvents for event sequencing
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
Due: prettier, eslint-shared, typecheck-shared

test(app): add tests for hasInProgressEvents and deriveAgentStatus
  app/src/__tests__/reducer.test.ts
Due: prettier, eslint-app, typecheck-app

fix(test): use correct metadata fields in reducer tests
  app/src/__tests__/reducer.test.ts
Due: prettier, eslint-app, typecheck-app

fix: Remove unused StrokeStyle import from mobile Canvas
  app/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app

style: Fix ruff formatting in types.py and user_handlers.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
Due: none

fix(agent): improve piece completion and status overlay UX (#87)
  app/src/__tests__/reducer.test.ts
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  web/src/components/StatusOverlay.tsx
  web/src/styles.css
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$
  typecheck-app: any of: ^app/.*\.(ts|tsx)$
  eslint-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  eslint-shared: any of: ^shared/.*\.ts$
  typecheck-shared: any of: ^shared/.*\.ts$
