Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

.pre-commit-config.yaml:

repos:
  # Python - Ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
        files: ^server/
      - id: ruff-format
        files: ^server/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^server/drawing_agent/
        additional_dependencies:
          - pydantic>=2.10.0
          - pydantic-settings>=2.6.0
          - fastapi>=0.115.0
          - pillow>=11.0.0
          - anthropic>=0.40.0
          - types-aiofiles
          - types-python-jose
          - boto3-stubs
          - alembic

  # JavaScript/TypeScript - Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --write .'
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (app/)
  - repo: local
    hooks:
      - id: eslint-app
        name: eslint (app)
        entry: bash -c 'cd app && pnpm lint'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-app
        name: typecheck (app)
        entry: bash -c 'cd app && pnpm typecheck'
        language: system
        files: ^app/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (web/)
  - repo: local
    hooks:
      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd web && pnpm lint'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typecheck-web
        name: typecheck (web)
        entry: bash -c 'cd web && pnpm typecheck'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

  # JavaScript/TypeScript - ESLint (shared/)
  - repo: local
    hooks:
      - id: eslint-shared
        name: eslint (shared)
        entry: bash -c 'cd shared && pnpm lint'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

      - id: typecheck-shared
        name: typecheck (shared)
        entry: bash -c 'cd shared && pnpm typecheck'
        language: system
        files: ^shared/.*\.ts$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

refactor: unify web styles with shared theme system
  web/src/components/AuthScreen.css
  web/src/homepage.css
  web/src/styles.css
  web/src/theme.css
Due: prettier

fix: update auth screen styling to match homepage aesthetic (#129)
  web/src/components/AuthScreen.css
  web/src/homepage.css
  web/src/styles.css
  web/src/theme.css
Due: prettier

fix: use React effect cleanup pattern for progressive text timing (#128)
  CHANGELOG.md
  app/src/__tests__/useProgressiveText.test.ts
  shared/src/hooks/useProgressiveText.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

refactor: simplify useProgressiveText by removing timerRef
  shared/src/hooks/useProgressiveText.ts
Due: prettier, eslint-shared, typecheck-shared

test: add comprehensive tests for useProgressiveText logic
  app/src/__tests__/useProgressiveText.test.ts
Due: prettier, eslint-app, typecheck-app

docs: address code review feedback
  CHANGELOG.md
  app/src/__tests__/useProgressiveText.test.ts
  shared/src/hooks/useProgressiveText.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix: use React effect cleanup pattern for progressive text timing
  shared/src/hooks/useProgressiveText.ts
Due: prettier, eslint-shared, typecheck-shared

fix: apply brush expansion to AI canvas view in paint mode
  server/code_monet/agent.py
Due: none

refactor: simplify idle animation visibility to single source of truth
  app/src/App.tsx
  app/src/components/Canvas.tsx
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  web/src/App.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

docs: add changelog entry for AI brush expansion fix
  CHANGELOG.md
Due: prettier

fix: use UTC from datetime module in recording tests
  server/tests/test_e2e_websocket_recording.py
Due: none

test: add tests for shouldShowIdleAnimation
  app/src/__tests__/reducer.test.ts
Due: prettier, eslint-app, typecheck-app

fix: include currentStroke check in shouldShowIdleAnimation
  app/src/__tests__/reducer.test.ts
  shared/src/canvas/reducer.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix: increase paint mode recording test timeout to 240s
  server/tests/fixtures/agent_turn_paint.json
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_e2e_websocket_recording.py
Due: prettier

fix: increase plotter recording test timeout to 240s
  server/tests/fixtures/agent_turn_paint.json
  server/tests/test_e2e_websocket_recording.py
Due: prettier

fix: apply brush expansion to AI canvas view in paint mode (#130)
  CHANGELOG.md
  server/code_monet/agent.py
  server/tests/fixtures/agent_turn_paint.json
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_e2e_websocket_recording.py
Due: prettier

refactor: simplify idle animation visibility to single source of truth (#131)
  app/src/App.tsx
  app/src/__tests__/reducer.test.ts
  app/src/components/Canvas.tsx
  shared/src/canvas/index.ts
  shared/src/canvas/reducer.ts
  web/src/App.tsx
  web/src/components/Canvas.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

test: add comprehensive canvas stroke tests
  app/src/__tests__/canvasStrokes.test.ts
  app/src/__tests__/reducer.replay.test.ts
Due: prettier, eslint-app, typecheck-app

feat: add name_canvas tool for naming artwork
  app/src/components/GalleryModal.tsx
  server/code_monet/agent.py
  server/code_monet/main.py
  server/code_monet/share/routes.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/types.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

refactor: rename stroke messages for clarity
  CHANGELOG.md
  PROJECT.md
  app/src/__tests__/canvasStrokes.test.ts
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  docs/event-streaming-architecture.md
  docs/stroke-animation-flow.md
  server/code_monet/connections.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/registry.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/tests/fixtures/agent_turn_paint.json
  server/tests/fixtures/agent_turn_plotter.json
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  shared/src/websocket/index.ts
  web/src/components/DebugPanel.tsx
  web/src/hooks/useCanvas.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

feat: add SSR for SEO and LLM accessibility
  package-lock.json
  server/code_monet/main.py
  web/index.html
  web/package.json
  web/server.ts
  web/src/components/Homepage.tsx
  web/src/config.ts
  web/src/context/AuthContext.tsx
  web/src/entry-client.tsx
  web/src/entry-server.tsx
  web/src/pages/GalleryPage.tsx
  web/src/pages/GalleryPiecePage.tsx
  web/src/pages/index.ts
  web/src/routes.tsx
  web/vite.config.ts
Due: prettier, eslint-web, typecheck-web

fix: address code review issues for SSR implementation
  CHANGELOG.md
  web/server.ts
  web/src/context/AuthContext.tsx
  web/src/entry-server.tsx
Due: prettier, eslint-web, typecheck-web

fix: rename test helper and fix default author
  app/src/__tests__/canvasStrokes.test.ts
Due: prettier, eslint-app, typecheck-app

fix: lint issues from code review
  app/src/__tests__/canvasStrokes.test.ts
  server/code_monet/orchestrator.py
Due: prettier, eslint-app, typecheck-app

chore: add pre-commit hooks and fix ruff issues
  .pre-commit-config.yaml
  server/code_monet/main.py
  server/code_monet/registry.py
  server/code_monet/user_handlers.py
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
Due: none

fix: ruff import sorting
  scripts/db_utils.py
  scripts/diagnose.py
  scripts/generate_icon.py
Due: none

refactor: use pytest markers instead of skip for E2E tests
  Makefile
  server/pyproject.toml
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
Due: none

refactor: use pytest markers instead of skip for E2E tests (#135)
  Makefile
  server/pyproject.toml
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
Due: none

fix: upgrade ruff pre-commit to v0.14.0 and add config path
  .pre-commit-config.yaml
  server/code_monet/main.py
Due: none

fix: update replay test and add missing type declarations
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  package-lock.json
  web/package.json
  web/server.ts
  web/src/pages/GalleryPage.tsx
  web/src/routes.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

style: format test files with ruff
  server/tests/test_e2e_sdk.py
  server/tests/test_e2e_websocket_recording.py
Due: none

test: add comprehensive canvas stroke tests (#132)
  .pre-commit-config.yaml
  CHANGELOG.md
  PROJECT.md
  app/src/__tests__/canvasStrokes.test.ts
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  docs/event-streaming-architecture.md
  docs/stroke-animation-flow.md
  scripts/db_utils.py
  scripts/diagnose.py
  scripts/generate_icon.py
  server/code_monet/connections.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/registry.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/tests/fixtures/agent_turn_paint.json
  server/tests/fixtures/agent_turn_plotter.json
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  shared/src/websocket/index.ts
  web/src/components/DebugPanel.tsx
  web/src/hooks/useCanvas.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: sort imports in run_migrations function
  server/code_monet/main.py
Due: none

feat: add SSR for SEO and LLM accessibility (#133)
  CHANGELOG.md
  app/src/__tests__/reducer.test.ts
  package-lock.json
  server/code_monet/main.py
  web/index.html
  web/package.json
  web/server.ts
  web/src/components/Homepage.tsx
  web/src/config.ts
  web/src/context/AuthContext.tsx
  web/src/entry-client.tsx
  web/src/entry-server.tsx
  web/src/pages/GalleryPage.tsx
  web/src/pages/GalleryPiecePage.tsx
  web/src/pages/index.ts
  web/src/routes.tsx
  web/vite.config.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web

chore: Release v1.26.0
  CHANGELOG.md
Due: prettier

chore: Release v1.26.0 (#136)
  CHANGELOG.md
Due: prettier

fix: add -m e2e flag to release workflow SDK tests
  .github/workflows/release.yml
Due: none

fix: docker-compose ECR image reference and force-recreate (#137)
  .github/workflows/release.yml
  CHANGELOG.md
  deploy/docker-compose.prod.yml
Due: prettier

fix: docker-compose ECR image reference and force-recreate
  .github/workflows/release.yml
  CHANGELOG.md
  deploy/docker-compose.prod.yml
Due: prettier

fix: sync deploy config from S3 before docker-compose up (#138)
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier
