Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-shared, eslint-app, eslint-web

eslint-shared:
  name: ESLint (shared)
  entry: bash -c 'cd shared && npx eslint --fix $(echo "$@" | sed "s|shared/||g")' --
  language: system
  pass_filenames: true

eslint-app:
  name: ESLint (app)
  entry: bash -c 'cd app && npx eslint --fix $(echo "$@" | sed "s|app/||g")' --
  language: system
  pass_filenames: true

eslint-web:
  name: ESLint (web)
  entry: bash -c 'cd web && npx eslint --fix $(echo "$@" | sed "s|web/||g")' --
  language: system
  pass_filenames: true

fix: sync deploy config from S3 before docker-compose up
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

fix: docker-compose nginx mount and logging config (#139)
  CHANGELOG.md
  deploy/docker-compose.prod.yml
Due: none

fix: docker-compose nginx mount and logging config
  CHANGELOG.md
  deploy/docker-compose.prod.yml
Due: none

feat: add SSR deployment for Code Monet web frontend
  .github/workflows/release.yml
  CLAUDE.md
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
  infrastructure/ecr.tf
  web/Dockerfile
  web/server.ts
Due: none

fix: address code review feedback
  .github/workflows/release.yml
  CHANGELOG.md
  infrastructure/github_actions.tf
  web/Dockerfile
Due: none

feat: Complete SSR Deployment for Code Monet (#140)
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  deploy/docker-compose.prod.yml
  deploy/nginx.conf
  infrastructure/ecr.tf
  infrastructure/github_actions.tf
  web/Dockerfile
  web/server.ts
Due: none

chore: Release v1.27.0
  CHANGELOG.md
Due: none

chore: add Google Search Console verification TXT record
  infrastructure/route53.tf
Due: none

fix: use Express 5 compatible catch-all middleware syntax
  web/server.ts
Due: none

chore: Release v1.27.1
  CHANGELOG.md
Due: none

feat: Add OG image endpoint for social sharing
  CHANGELOG.md
  deploy/nginx.conf
  server/code_monet/main.py
Due: none

fix: Correct import order for ruff isort
  server/code_monet/main.py
Due: none

chore: Release v1.27.2 (#141)
  CHANGELOG.md
  deploy/nginx.conf
  server/code_monet/main.py
Due: none

fix: nginx OG image route strips /api/ prefix
  deploy/nginx.conf
Due: none

chore: Release v1.27.3
  CHANGELOG.md
Due: none

fix: nginx /api/ location needs ^~ to prioritize over static file regex
  deploy/nginx.conf
Due: none

feat: add signature and naming tools for piece completion
  server/code_monet/agent.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
  shared/src/types.ts
Due: eslint-shared

feat: display piece titles in mobile and web gallery UI
  app/src/components/GalleryModal.tsx
  shared/src/types.ts
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/types.ts
Due: eslint-shared, eslint-app, eslint-web

fix: address code review feedback for signature tools
  CHANGELOG.md
  app/src/components/MessageStream.tsx
  server/code_monet/agent.py
  server/code_monet/tools.py
  server/tests/test_tools.py
Due: eslint-app

fix: remove unused variable in test
  server/tests/test_tools.py
Due: none

style: apply ruff formatting
  server/code_monet/tools.py
  server/code_monet/workspace_state.py
Due: none

feat: add signature and naming tools for piece completion (#134)
  CHANGELOG.md
  app/src/components/GalleryModal.tsx
  app/src/components/MessageStream.tsx
  server/code_monet/agent.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
  server/tests/test_tools.py
  shared/src/types.ts
  web/src/components/homepage/GalleryItem.tsx
  web/src/components/homepage/types.ts
Due: eslint-shared, eslint-app, eslint-web

chore: Release v1.28.0
  CHANGELOG.md
Due: none

fix(agent): use Haiku for dev, Opus for prod, remove auto-retry loop
  server/code_monet/agent.py
  server/code_monet/config.py
  server/code_monet/orchestrator.py
Due: none

docs: add changelog entry for agent cost controls
  CHANGELOG.md
Due: none

fix(agent): use Haiku for dev, Opus for prod, remove auto-retry loop (#142)
  CHANGELOG.md
  server/code_monet/agent.py
  server/code_monet/config.py
  server/code_monet/orchestrator.py
Due: none

feat(scripts): add ws-client terminal testing tool
  scripts/ws-client.py
Due: none

docs: add /remote command documentation for ws-client
  .claude/commands/remote.md
Due: none

fix: address code review feedback
  .claude/commands/remote.md
  CHANGELOG.md
  scripts/ws-client.py
Due: none

feat(scripts): add ws-client terminal testing tool (#143)
  .claude/commands/remote.md
  CHANGELOG.md
  scripts/ws-client.py
Due: none

feat: animation_done signaling and debug logging infrastructure
  app/src/App.tsx
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  app/src/components/LiveStatus.tsx
  app/src/hooks/useCanvas.ts
  app/src/hooks/useWebSocket.ts
  app/src/utils/debugLog.ts
  infrastructure/ssm.tf
  scripts/dev-web.sh
  scripts/dev.sh
  server/code_monet/main.py
  server/code_monet/user_handlers.py
  shared/src/canvas/reducer.ts
  shared/src/hooks/useProgressiveText.ts
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/index.ts
  shared/src/services/StrokeRenderer.ts
  shared/src/types.ts
  shared/src/utils/logForwarder.ts
  web/src/App.tsx
  web/src/components/Homepage.tsx
  web/src/components/StatusOverlay.tsx
  web/src/hooks/useCanvas.ts
Due: eslint-shared, eslint-app, eslint-web

fix: address code review feedback for PR #144
  CHANGELOG.md
  server/code_monet/main.py
  server/code_monet/orchestrator.py
Due: none

feat: redesign UI with simplified HomePanel
  app/src/App.tsx
  app/src/components/ActionBar.tsx
  app/src/components/HomePanel.tsx
  app/src/components/index.ts
Due: eslint-app

fix: address code review feedback for HomePanel
  CHANGELOG.md
  app/src/App.tsx
  app/src/__tests__/HomePanel.test.ts
  app/src/components/HomePanel.tsx
Due: eslint-app

feat: redesign UI with simplified HomePanel (#145)
  CHANGELOG.md
  app/src/App.tsx
  app/src/__tests__/HomePanel.test.ts
  app/src/components/ActionBar.tsx
  app/src/components/HomePanel.tsx
  app/src/components/index.ts
Due: eslint-app

fix(agent): trigger animation for sign_canvas strokes
  CHANGELOG.md
  server/code_monet/agent.py
  server/code_monet/config.py
  server/tests/test_agent.py
Due: none

fix(agent): trigger animation for sign_canvas strokes (#146)
  CHANGELOG.md
  server/code_monet/agent.py
  server/code_monet/config.py
  server/tests/test_agent.py
Due: none

chore: Release v1.29.0
  CHANGELOG.md
Due: none

chore: Release v1.29.0 (#147)
  CHANGELOG.md
Due: none

fix(e2e): update tests for HomePanel redesign
  app/e2e/flows/action-bar.yaml
  app/e2e/flows/agent-draw.yaml
  app/e2e/flows/canvas.yaml
  app/e2e/flows/websocket.yaml
  app/e2e/helpers/inject-auth-only.yaml
  app/e2e/helpers/inject-auth.yaml
  app/src/components/HomePanel.tsx
Due: eslint-app

Path conditions:
  eslint-shared: any of: ^shared/src/.*\.(ts|tsx)$
  eslint-app: any of: ^app/src/.*\.(ts|tsx)$
  eslint-web: any of: ^web/src/.*\.(ts|tsx)$
