Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

prettier:
  name: prettier
  entry: bash -c 'npx prettier --write .'
  language: system
  pass_filenames: false

eslint-app:
  name: eslint (app)
  entry: bash -c 'cd app && pnpm lint'
  language: system
  pass_filenames: false

typecheck-app:
  name: typecheck (app)
  entry: bash -c 'cd app && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && pnpm lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-shared:
  name: eslint (shared)
  entry: bash -c 'cd shared && pnpm lint'
  language: system
  pass_filenames: false

typecheck-shared:
  name: typecheck (shared)
  entry: bash -c 'cd shared && pnpm typecheck'
  language: system
  pass_filenames: false

fix: resolve mypy type checking issues
  Makefile
  server/code_monet/cli.py
  server/code_monet/svg_parser.py
  server/pyproject.toml
  server/uv.lock
Due: none

docs: add tool events for generate_image and comprehensive tools documentation (#99)
  CLAUDE.md
  Makefile
  app/src/__tests__/types.test.ts
  app/src/components/MessageStream.tsx
  docs/agent-tools.md
  package-lock.json
  server/code_monet/cli.py
  server/code_monet/svg_parser.py
  server/pyproject.toml
  server/uv.lock
  shared/src/types.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

refactor(tools): rename generate_image to imagine, remove view_reference_image
  CHANGELOG.md
  CLAUDE.md
  docs/agent-tools.md
  server/code_monet/agent.py
  server/code_monet/config.py
  server/code_monet/tools.py
  shared/src/types.ts
Due: prettier, eslint-shared, typecheck-shared

chore: Release v1.21.1 (#100)
  CHANGELOG.md
Due: prettier

chore: Release v1.21.1
  CHANGELOG.md
Due: prettier

chore: Release v1.21.2 (#101)
  CHANGELOG.md
  server/code_monet/agent.py
Due: prettier

fix: update Claude Agent SDK parameter from working_directory to cwd
  server/code_monet/agent.py
Due: none

chore: Release v1.21.2
  CHANGELOG.md
Due: prettier

test: add SDK compatibility tests to catch parameter renames
  server/tests/test_agent.py
Due: none

test: add E2E SDK integration tests
  Makefile
  server/pyproject.toml
  server/tests/test_e2e_sdk.py
  server/uv.lock
Due: none

docs: consolidate E2E testing documentation and add umbrella target
  CLAUDE.md
  Makefile
Due: prettier

ci: add E2E tests to workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: resolve TypeScript errors in test and MessageStream
  app/src/__tests__/fixtures/server
  app/src/__tests__/reducer.replay.test.ts
  app/src/components/MessageStream.tsx
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_e2e_websocket_recording.py
Due: prettier, eslint-app, typecheck-app

ci: add E2E tests to CI and release workflows (#102)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  Makefile
  app/src/__tests__/fixtures/server
  app/src/__tests__/reducer.replay.test.ts
  app/src/components/MessageStream.tsx
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_e2e_websocket_recording.py
Due: prettier, eslint-app, typecheck-app

fix: update Gemini model from expired preview to stable
  server/code_monet/tools.py
Due: none

fix: use gemini-2.5-flash-image (Nano Banana) for image generation
  server/code_monet/tools.py
Due: none

fix: clear thinking text between iterations and add render debug logging
  app/src/__tests__/renderFlow.test.ts
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/services/StrokeRenderer.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix: add piece_id to strokes_ready to prevent cross-canvas rendering
  app/src/__tests__/renderFlow.test.ts
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
  server/tests/fixtures/agent_turn_plotter.json
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

fix: include piece_id in /strokes/pending response
  docs/event-streaming-architecture.md
  server/code_monet/main.py
Due: prettier

fix: add missing pieceId to test fixtures
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
Due: prettier, eslint-app, typecheck-app

docs: add changelog entry for cross-canvas rendering fix
  CHANGELOG.md
Due: prettier

docs: add CHANGELOG.md documentation to CLAUDE.md
  CLAUDE.md
Due: prettier

fix: clear thinking text between iterations and add render debug logging (#103)
  CHANGELOG.md
  CLAUDE.md
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  docs/event-streaming-architecture.md
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
  server/tests/fixtures/agent_turn_plotter.json
  shared/src/canvas/reducer.ts
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/services/StrokeRenderer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

chore: Release v1.21.6 (#104)
  CHANGELOG.md
Due: prettier

chore: Release v1.21.6
  CHANGELOG.md
Due: prettier

fix: remove gallery count from action bar button
  app/src/components/ActionBar.tsx
Due: prettier, eslint-app, typecheck-app

fix: remove gallery count from action bar button (#106)
  app/src/components/ActionBar.tsx
Due: prettier, eslint-app, typecheck-app

feat(mobile): add thumbnail-based gallery view with server-side rendering
  CHANGELOG.md
  app/src/components/GalleryModal.tsx
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/user_handlers.py
Due: prettier, eslint-app, typecheck-app

docs: correct drawing architecture description in README
  README.md
Due: prettier

perf: add nginx caching for gallery thumbnails
  deploy/nginx.conf
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/user_handlers.py
Due: none

fix: address code review findings
  CHANGELOG.md
  app/src/__tests__/renderFlow.test.ts
  app/src/components/GalleryModal.tsx
  deploy/nginx.conf
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  shared/src/hooks/useStrokeAnimation.ts
  shared/src/services/StrokeRenderer.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

feat: use capability tokens for gallery thumbnails
  app/src/components/GalleryModal.tsx
  app/src/context/AuthContext.tsx
  deploy/nginx.conf
  server/alembic/versions/20260117_0007_007_change_user_id_to_uuid.py
  server/code_monet/auth/jwt.py
  server/code_monet/auth/schemas.py
  server/code_monet/cli.py
  server/code_monet/db/models.py
  server/code_monet/db/repository.py
  server/code_monet/main.py
  server/code_monet/rate_limiter.py
  server/code_monet/registry.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
  shared/src/types.ts
  web/src/context/AuthContext.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

chore: rename env var DRAWING_AGENT_ENV to CODE_MONET_ENV
  deploy/docker-compose.prod.yml
  infrastructure/ssm.tf
  server/drawing_agent/config.py
Due: none

feat: add migration to convert user ID from integer to UUID
  server/alembic/versions/20260117_1858_7372b4753296_change_user_id_to_uuid.py
Due: none

fix: use python for healthcheck instead of curl
  deploy/docker-compose.prod.yml
Due: none

feat: run database migrations as part of release workflow
  .github/workflows/release.yml
  infrastructure/github_actions.tf
Due: none

feat: add migration drift detection to CI and pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check-migrations.sh
Due: none

docs: correct drawing architecture description in README (#107)
  README.md
Due: prettier

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$
  typecheck-app: any of: ^app/.*\.(ts|tsx)$
  eslint-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  eslint-shared: any of: ^shared/.*\.ts$
  typecheck-shared: any of: ^shared/.*\.ts$
