Repository dmfenton/Sketchpad: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

prettier:
  name: prettier
  entry: bash -c 'npx prettier --write .'
  language: system
  pass_filenames: false

eslint-app:
  name: eslint (app)
  entry: bash -c 'cd app && pnpm lint'
  language: system
  pass_filenames: false

typecheck-app:
  name: typecheck (app)
  entry: bash -c 'cd app && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c 'cd web && pnpm lint'
  language: system
  pass_filenames: false

typecheck-web:
  name: typecheck (web)
  entry: bash -c 'cd web && pnpm typecheck'
  language: system
  pass_filenames: false

eslint-shared:
  name: eslint (shared)
  entry: bash -c 'cd shared && pnpm lint'
  language: system
  pass_filenames: false

typecheck-shared:
  name: typecheck (shared)
  entry: bash -c 'cd shared && pnpm typecheck'
  language: system
  pass_filenames: false

refactor: remove Postgres/Grafana option, keep CloudWatch only
  docs/logging-system-design.md
  scripts/diagnose.py
Due: prettier

infra: add logrotate for application logs
  infrastructure/user_data.sh
Due: none

fix: set ECR_REGISTRY in .env during deploy (#120)
  .claude/commands/logs.md
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  deploy/docker-compose.prod.yml
  docs/logging-system-design.md
  infrastructure/cloudwatch_logs.tf
  infrastructure/user_data.sh
  scripts/diagnose.py
Due: prettier

fix: set ECR_REGISTRY in .env during deploy
  .github/workflows/release.yml
Due: none

fix: address code review issues for logging system
  CHANGELOG.md
  deploy/docker-compose.prod.yml
  infrastructure/user_data.sh
Due: prettier

Revert "fix: set ECR_REGISTRY in .env during deploy (#120)"
  .claude/commands/logs.md
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  deploy/docker-compose.prod.yml
  docs/logging-system-design.md
  infrastructure/cloudwatch_logs.tf
  infrastructure/user_data.sh
  scripts/diagnose.py
Due: prettier

fix: set ECR_REGISTRY in .env during deploy (#121)
  .github/workflows/release.yml
Due: none

docs: design intentional logging system with CloudWatch integration (#118)
  .claude/commands/logs.md
  CHANGELOG.md
  CLAUDE.md
  deploy/docker-compose.prod.yml
  docs/logging-system-design.md
  infrastructure/cloudwatch_logs.tf
  infrastructure/user_data.sh
  scripts/diagnose.py
Due: prettier

chore: Release v1.24.0
  CHANGELOG.md
Due: prettier

feat(server): Add gallery thumbnail endpoint for mobile app
  server/code_monet/main.py
  server/code_monet/types.py
  server/code_monet/workspace_state.py
Due: none

refactor(server): Inline thumbnail rendering to match share/routes.py pattern
  server/code_monet/main.py
Due: none

refactor(server): Extract render_strokes_to_png to shared canvas module
  server/code_monet/canvas.py
  server/code_monet/main.py
  server/code_monet/share/routes.py
  server/tests/test_canvas.py
Due: none

fix: accept forward pieceId in STROKES_READY to handle race condition
  shared/src/canvas/reducer.ts
Due: prettier, eslint-shared, typecheck-shared

test: add unit tests for STROKES_READY pieceId handling
  CHANGELOG.md
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  docs/event-streaming-architecture.md
  docs/stroke-animation-flow.md
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

refactor: standardize piece/canvas naming convention
  app/src/App.tsx
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  app/src/components/GalleryModal.tsx
  app/src/components/LiveStatus.tsx
  docs/event-streaming-architecture.md
  docs/stroke-animation-flow.md
  server/code_monet/agent.py
  server/code_monet/cli.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_agent.py
  server/tests/test_orchestrator_wake.py
  server/tests/test_user_handlers.py
  server/tests/test_workspace_limits.py
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

fix: restore race condition fix and update web debug panel
  app/src/__tests__/reducer.test.ts
  shared/src/canvas/reducer.ts
  web/src/components/DebugPanel.tsx
  web/src/hooks/useDebug.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

style: fix ruff formatting in orchestrator.py
  server/code_monet/orchestrator.py
Due: none

chore: add pre-commit to dev dependencies
  server/pyproject.toml
  server/uv.lock
Due: none

docs: add Python server setup instructions to CLAUDE.md
  CLAUDE.md
  app/src/__tests__/renderFlow.test.ts
  shared/src/canvas/reducer.ts
Due: prettier, eslint-app, typecheck-app, eslint-shared, typecheck-shared

chore: fetch API key from SSM for E2E tests
  CLAUDE.md
  Makefile
Due: prettier

fix: accept forward pieceId in STROKES_READY to handle race condition (#122)
  CHANGELOG.md
  CLAUDE.md
  Makefile
  app/src/App.tsx
  app/src/__tests__/reducer.replay.test.ts
  app/src/__tests__/reducer.test.ts
  app/src/__tests__/renderFlow.test.ts
  app/src/components/GalleryModal.tsx
  app/src/components/LiveStatus.tsx
  docs/event-streaming-architecture.md
  docs/stroke-animation-flow.md
  server/code_monet/agent.py
  server/code_monet/cli.py
  server/code_monet/main.py
  server/code_monet/orchestrator.py
  server/code_monet/types.py
  server/code_monet/user_handlers.py
  server/code_monet/workspace_state.py
  server/pyproject.toml
  server/tests/fixtures/agent_turn_plotter.json
  server/tests/test_agent.py
  server/tests/test_orchestrator_wake.py
  server/tests/test_user_handlers.py
  server/tests/test_workspace_limits.py
  server/uv.lock
  shared/src/canvas/reducer.ts
  shared/src/types.ts
  shared/src/websocket/handlers.ts
  web/src/App.tsx
  web/src/components/DebugPanel.tsx
  web/src/hooks/useDebug.ts
Due: prettier, eslint-app, typecheck-app, eslint-web, typecheck-web, eslint-shared, typecheck-shared

feat: add brush presets for paint-like stroke rendering
  server/code_monet/brushes.py
  server/code_monet/orchestrator.py
  server/code_monet/tools.py
  server/code_monet/types.py
  shared/src/types.ts
Due: prettier, eslint-shared, typecheck-shared

fix: address code review feedback for brush presets
  CHANGELOG.md
  server/code_monet/brushes.py
  server/code_monet/tools.py
  server/tests/test_brushes.py
Due: prettier

docs: add brush preset documentation to agent system prompt
  server/code_monet/agent.py
  server/code_monet/brushes.py
Due: none

fix: remove unused imports in test_brushes.py
  server/tests/test_brushes.py
Due: none

style: format brushes.py and orchestrator.py
  server/code_monet/brushes.py
  server/code_monet/orchestrator.py
Due: none

feat: add brush presets for paint-like stroke rendering (#123)
  CHANGELOG.md
  server/code_monet/agent.py
  server/code_monet/brushes.py
  server/code_monet/orchestrator.py
  server/code_monet/tools.py
  server/code_monet/types.py
  server/tests/test_brushes.py
  shared/src/types.ts
Due: prettier, eslint-shared, typecheck-shared

fix: use correct gallery index filename in public gallery endpoint
  server/code_monet/main.py
Due: none

feat: add public gallery opt-in for users
  server/alembic/versions/20260118_0008_008_add_gallery_public_to_users.py
  server/code_monet/config.py
  server/code_monet/db/models.py
  server/code_monet/db/repository.py
  server/code_monet/main.py
  server/tests/test_public_gallery.py
Due: none

fix: address code review feedback for public gallery
  CHANGELOG.md
  server/code_monet/main.py
  server/tests/test_public_gallery.py
Due: prettier

fix: use correct gallery index filename in public gallery endpoint (#124)
  CHANGELOG.md
  server/alembic/versions/20260118_0008_008_add_gallery_public_to_users.py
  server/code_monet/config.py
  server/code_monet/db/models.py
  server/code_monet/db/repository.py
  server/code_monet/main.py
  server/tests/test_public_gallery.py
Due: prettier

chore: Release v1.25.0 (#125)
  CHANGELOG.md
Due: prettier

chore: Release v1.25.0
  CHANGELOG.md
Due: prettier

fix: handle list format in gallery index for public gallery endpoint
  server/code_monet/main.py
Due: none

fix: correct deploy directory and add ECR re-auth in release workflow
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier

fix: correct deploy directory and add ECR re-auth in release workflow (#126)
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier

fix: update auth screen styling to match homepage aesthetic
  web/src/components/AuthScreen.css
Due: prettier

fix: pass DATABASE_URL to migration container in release workflow (#127)
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier

fix: pass DATABASE_URL to migration container in release workflow
  .github/workflows/release.yml
  CHANGELOG.md
Due: prettier

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
  eslint-app: any of: ^app/.*\.(ts|tsx)$
  typecheck-app: any of: ^app/.*\.(ts|tsx)$
  eslint-web: any of: ^web/.*\.(ts|tsx)$
  typecheck-web: any of: ^web/.*\.(ts|tsx)$
  eslint-shared: any of: ^shared/.*\.ts$
  typecheck-shared: any of: ^shared/.*\.ts$
